!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Credentialed Care
    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(src='http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-US')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='javascripts/bootstrap/bootstrap.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
    script(src='javascripts/app.js')


    link(href='stylesheets/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/bootstrap/css/heroic-features.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
  body(ng-app='CCare')
    nav.navbar-inverse.navbar-fixed-top.navbar(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#/') Credentialed Care
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.right
            li
              a(href='#')
                span.glyphicon.glyphicon-home
                |  Home
            li
              a(href='#/aboutUs')
                span.glyphicon.glyphicon-question-sign
                |  About
            li(ng-hide='loggedIn')
              a(href='#/worker-login')
                span.glyphicon.glyphicon-play
                |  Worker Login
            li(ng-hide='loggedIn')
              a(href='#/employer-login')
                span.glyphicon.glyphicon-home
                |  Employer Login
            li(ng-hide='!eLoggedIn')
              a(href='#/employerPortal')
                span.glyphicon.glyphicon-home
                |  My Portal
            li(ng-hide='!wLoggedIn')
              a(href='#/workerPortal')
                span.glyphicon.glyphicon-home
                |  My Portal
            li(ng-hide='!loggedIn')
              a(href='#/logout')
                span.glyphicon.glyphicon-home
                |  Sign Out
    .container(ng-view)
    footer
      .row
          .col-lg-12
