<div class="container" ng-controller="ePortalCtrl">

<div>
  <div class="well hero-spacer">
    <h3>Employer Portal</h3>
  </div>
  <div class="row">
    <div class="well">
      <a href="#/postJob">Post a Job</a>
    </div>

    <table class="table">
      <tr>
        <th>Position Number</th>
        <th>Position Name</th>
        <th>Duties</th>
      </tr>
      <tr ng-repeat="job in jobs">
        <td>[{{$index+1}}]</td>
        <td>{{job.positionName}}</td>
        <td>{{job.duties}}</td>
      </tr>
    </table>
  </div>
</div>


<div ng-controller="employeeListCtrl">

  <span> I am looking for employees within...</span>
    <select class="searchField" ng-model="range">
            <option>up to 5 miles</option>
            <option>up to 10 miles</option>
            <option>up to 20 miles</option>
            <option>up to 30 miles</option>
            <option>up to 50 miles</option>
    </select>

  <span> of... </span>
  <input type="text" ng-model="loc" class="form-control searchField searchInput" placeholder="Your Location">
  <button ng-click="search()">search</button>
  <table class="table">
    <tr>
      <th>Employee Name</th>
      <th>Employee Email</th>
      <th>Employee Phone</th>
    </tr>
    <tr ng-repeat="employee in employees">
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone}}</td>
  </table>
</div>


