<div class="container" ng-controller="ePortalCtrl">

<div>
  <div class="well hero-spacer">
    <h3>Employer Portal</h3>
  </div>
  <div class="row">
    <div class="well">
      <a href="#/postJob">Post a Job</a>
    </div>

    <table class="table">
      <tr>
        <th>Position Number</th>
        <th>Position Name</th>
        <th>Duties</th>
      </tr>
      <tr ng-repeat="job in jobs">
        <td>[{{$index+1}}]</td>
        <td>{{job.positionName}}</td>
        <td>{{job.duties}}</td>
      </tr>
    </table>
  </div>
</div>


