<div ng-controller="jProfileCtrl">
  <div class='well'>
    <h3>Basic Info:</h3>
    <div>Position Name: {{job.positionName}}</div>
    <div>Duties: {{job.duties}}</div>
    <div>Offered Hourly Rate: {{job.hourlyRate}}</div>
    <div>Type of Employer: {{job.employerType}}</div>
    <div>Years Experience Required: {{job.yearsExperience}}</div>
    <div>Position Type: {{job.positionType}}</div>
  </div>

  <div class='well'>
    <h3>Skill Requirements:</h3>
    <div>Education Required: {{job.experience.education}}</div>
    <div>Alzheimers Training Required: {{job.experience.Alzheimers}}</div>
    <div>Handicapped Training Required: {{job.experience.Handicapped}}</div>
    <div>Hospice Training Required: {{job.experience.Hospice}}</div>
    <div>Gastronom Training Required: {{job.experience.Gastronom}}</div>
    <div>Breathing Training Required: {{job.experience.Breathing}}</div>
    <div>Hoyer Training Required: {{job.experience.Hoyer}}</div>
    <div>Special Meal Training Required: {{job.experience.SpecialMeal}}</div>
    <div>ChildCare Training Required: {{job.experience.ChildCare}}</div>
    <div>Psychiatric Training Required: {{job.experience.Psychiatric}}</div>
    <div>Geriatric Training Required: {{job.experience.Geriatric}}</div>
    <div>Homecare Training Required: {{job.experience.Homecare}}</div>
    <div>Assisted Living Training Required: {{job.experience.AssistedLiving}}</div>
  </div>

</div>