

      <div class="well hero-spacer">
        <h3>Your Caregiver Profile</h3>
      </div>

      <div class="row">
        <form role="form">

        <div class="well">
          <div class="form-group">
            <label for="exampleInputEmail1">Your Hourly Rate, Homecare and Hospital Jobs</label>
            <select ng-model="hourlyRate">
              <option>$8.00-$10.00</option>
              <option>$10.00-$12.00</option>
              <option>$12.00-$14.00</option>
              <option>$14.00-$16.00</option>
              <option>$18.00-$20.00</option>
              <option>$20.00-$22.00</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Your Daily Rate, Live-in Homecare Jobs</label>
            <select ng-model="dailyRate">
              <option>$60.00-$80.00</option>
              <option>$80.00-$100.00</option>
              <option>$120.00-$140.00</option>
              <option>$140.00-$160.00</option>
            </select>
          </div>
        </div>

        <div class="well">
          <h4 class="pull-left">Select the job opportunities that you are qualifed and would like to be considered for</h4>
              <div class="clearfix"></div>
                <div class="checkbox-columns">
                    <label class="checkbox span1">
                        <input ng-model="caregiver" type="checkbox" value="option1"> Caregiver/Homemaker
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="CHHA" type="checkbox" value="option2"> CHHA (Home Health Aide)
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="STNA" type="checkbox" value="option3"> STNA
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="PCA" type="checkbox" value="option3"> PCA
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="LPN" type="checkbox" value="option3"> LPN
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="CNA" type="checkbox" value="option3"> CNA
                    </label>
                </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Which type of position are you interested in?</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="checkbox span2">
                          <input type="checkbox" value="option1"> Full-Time
                      </label>
                      <label class="checkbox span2">
                          <input type="checkbox" value="option2"> Part-Time
                      </label>
                  </div>
            </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Which shift are you interested in?  Check all that apply.</h4>
            <div class="clearfix"></div>
              <div class="checkbox-columns">
                  <label class="checkbox span2">
                      <input type="checkbox" value="option1"> Day Shift
                  </label>
                  <label class="checkbox span2">
                      <input type="checkbox" value="option2"> Night Shift
                  </label>
              </div>
            </div>
          </div>
        </div>


        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Are you interested in working weekdays or weekends?  Select all that apply.</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="checkbox span2">
                          <input type="checkbox" value="option1"> Full-Time
                      </label>
                      <label class="checkbox span2">
                          <input type="checkbox" value="option2"> Part-Time
                      </label>
                  </div>
            </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Are you interested in working weekdays or weekends?  Select all that apply.</h4>
            <table class="table">
             <tr>
                <th><div>Available Hours</div>
                <th><div class='selectAll' id="selectall1"/>Sunday</th>
                <th><div class='selectAll' id="selectall2"/>Monday</th>
                <th><div class='selectAll' id="selectall3"/>Tuesday</th>
                <th><div class='selectAll' id="selectall4"/>Wednesday</th>
                <th><div class='selectAll' id="selectall5"/>Thursday</th>
                <th><div class='selectAll' id="selectall6"/>Friday</th>
                <th><div class='selectAll' id="selectall7"/>Saturday</th>
             </tr>
             <tr>
                <td align="center"><div>Midnight to 8AM</div></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="1"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="2"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="3"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="4"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="5"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="6"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="7"/></td>
             </tr>
             <tr>
                <td align="center"><div>8AM to 5PM</div></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="5"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="6"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="7"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="8"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="8"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="8"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="8"/></td>
             </tr>
             <tr>
                <td align="center"><div>5PM to Midnight</div></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="9"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="10"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="11"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="12"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="11"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="12"/></td>
                <td align="center"><input type="checkbox" class="case" name="case" value="12"/></td>
             </tr>
          </table>
        </div>
      </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Which of the following are you interested in?</h4>
              <div class="clearfix"></div>
                <div class="checkbox-columns">
                  <label class="checkbox span2">
                    <input type="checkbox" value="option1"> Home Care
                  </label>
                  <label class="checkbox span2">
                    <input type="checkbox" value="option2"> Facility
                  </label>
                </div>
              </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">How many miles are you willing to travel for work?</h4>
              <div class="clearfix"></div>
              <select>
                <option>0-2 miles</option>
                <option>0-5 miles</option>
                <option>0-15 miles</option>
                <option>0-30 miles</option>
                <option>0-45 miles</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Some clients require a caregiver that can provide transportation to/from appointments.  Can you legally drive a client in your own car?</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="radio span2">
                          <input type="radio" name="car" value="option1"> Yes
                      </label>
                      <label class="radio span2">
                          <input type="radio"  name="car" value="option2"> No
                      </label>
                  </div>
            </div>
          </div>
        </div>

        <a ng-click="processFormData()"><button ngtype="submit" class="btn btn-default">Next...</button></a>
        </form>
      </div>
