<div ng-controller="wProfileCtrl">

  <div class='well'>
    <h3>Basic Info:</h3>
    <div>Name: {{worker.name}}</div>
    <div>Email Address: {{worker.email}}</div>
    <div>Phone Number: {{worker.phone}}</div>
  </div>


  <div class='well'>
    <h3>Rates:</h3>
    <div>hourlyRate: {{worker.preferences.hourlyRate}}</div>
    <div>dailyRate: {{worker.preferences.dailyRate}}</div>
  </div>

  <div class='well'>
    <h3>Job Type:</h3>
    <div>Caregiver: {{worker.preferences.jobType.caregiver}}</div>
    <div>CHHA: {{worker.preferences.jobType.CHHA}}</div>
    <div>STNA: {{worker.preferences.jobType.STNA}}</div>
    <div>PCA: {{worker.preferences.jobType.PCA}}</div>
    <div>LPN: {{worker.preferences.jobType.LPN}}</div>
    <div>CNA: {{worker.preferences.jobType.CNA}}</div>
  </div>

  <div class='well'>
    <h3>Info:</h3>
    <div>Interested in full time: {{worker.preferences.fullTime}}</div>
    <div>Interested in part time: {{worker.preferences.partTime}}</div>
    <div>Can work day shift: {{worker.preferences.dayShift}}</div>
    <div>Can work night shift: {{worker.preferences.nightShift}}</div>
    <div>Can work Weekdays: {{worker.preferences.weekDays}}</div>
    <div>Can work Weekends: {{worker.preferences.weekEnds}}</div>
    <div>Prefers Home Care: {{worker.preferences.homeCare}}</div>
    <div>Prefers Facility Care: {{worker.preferences.facilityCare}}</div>
    <div>Working Radius: {{worker.preferences.workRadius}}</div>
    <div>Can work with cats: {{worker.preferences.catsOk}}</div>
    <div>Can work with dogs: {{worker.preferences.dogsOk}}</div>
    <div>Can work with smokers: {{worker.preferences.smokeOk}}</div>
    <div>Can lift twenty five pounds: {{worker.preferences.lift25ok}}</div>
    <div>Has a car available: {{worker.preferences.carAvailable}}</div>
    <div>Education level: {{worker.preferences.education}}</div>
    <div>Years of experience: {{worker.preferences.yearsExperience}}</div>
    <div>Name of previous employer: {{worker.preferences.previousEmployerName}}</div>
  </div>

  <div class='well'>
    <h3>Languages:</h3>
    <div>PCA: {{worker.preferences.certifications.PCA}}</div>
    <div>CHHA: {{worker.preferences.certifications.CHHA}}</div>
    <div>CNA: {{worker.preferences.certifications.CNA}}</div>
    <div>LPN: {{worker.preferences.certifications.LPN}}</div>
  </div>

  <div class='well'>
    <h3>Languages:</h3>
    <div>Arabic: {{worker.preferences.languages.Arabic}}</div>
    <div>Chinese Cantonese: {{worker.preferences.languages.Chinese_Cantonese}}</div>
    <div>Chinese Mandarin: {{worker.preferences.languages.Chinese_Mandarin}}</div>
    <div>Farsi: {{worker.preferences.languages.Farsi}}</div>
    <div>Filipino: {{worker.preferences.languages.Filipino}}</div>
    <div>French: {{worker.preferences.languages.French}}</div>
    <div>Greek: {{worker.preferences.languages.Greek}}</div>
    <div>Hebrew: {{worker.preferences.languages.Hebrew}}</div>
    <div>Hindu: {{worker.preferences.languages.Hindu}}</div>
    <div>Italian: {{worker.preferences.languages.Italian}}</div>
    <div>Japanese: {{worker.preferences.languages.Japanese}}</div>
    <div>Korean: {{worker.preferences.languages.Korean}}</div>
    <div>Polish: {{worker.preferences.languages.Polish}}</div>
    <div>Russian: {{worker.preferences.languages.Russian}}</div>
    <div>Spanish: {{worker.preferences.languages.Spanish}}</div>
    <div>Swahili: {{worker.preferences.languages.Swahili}}</div>
    <div>Vietnamese: {{worker.preferences.languages.Vietnamese}}</div>
  </div>

  <div class='well'>
    <h3>Proficiencies:</h3>
    <div>Alzheimers: {{worker.preferences.specializations.Alzheimers}}</div>
    <div>Handicapped: {{worker.preferences.specializations.Handicapped}}</div>
    <div>Hospice: {{worker.preferences.specializations.Hospice}}</div>
    <div>Gastronomy: {{worker.preferences.specializations.Gastronomy}}</div>
    <div>Breathing: {{worker.preferences.specializations.Breathing}}</div>
    <div>Hoyer: {{worker.preferences.specializations.Hoyer}}</div>
    <div>Special Meal Preparation: {{worker.preferences.specializations.SpecialMeal}}</div>
    <div>Child Care: {{worker.preferences.specializations.ChildCare}}</div>
    <div>Psychiatric: {{worker.preferences.specializations.Psychiatric}}</div>
    <div>Geriatric: {{worker.preferences.specializations.Geriatric}}</div>
    <div>Homecare: {{worker.preferences.specializations.Homecare}}</div>
    <div>AssistedLiving: {{worker.preferences.specializations.AssistedLiving}}</div>
    <div>Fingerprints: {{worker.preferences.specializations.Fingerprints}}</div>
    <div>AHCA Level 2: {{worker.preferences.specializations.AHCALevel2}}</div>
    <div>CPR: {{worker.preferences.specializations.CPR}}</div>
    <div>FirstAid: {{worker.preferences.specializations.FirstAid}}</div>
    <div>BLS: {{worker.preferences.specializations.BLS}}</div>
    <div>TB Test: {{worker.preferences.specializations.TBTest}}</div>
  </div>


  <div class='well'>
    <h3>Interests and Preferences:</h3>
    <div>Description of an ideal patient: {{worker.preferences.idealPatient}}</div>
    <div>Description of ideal work environment: {{worker.preferences.idealWorkEnvironment}}</div>
    <div>Interests: {{worker.preferences.interests}}</div>
    <div>Importance of having a favorable patient: {{worker.preferences.patientMatchScore}}</div>
    <div>Importance of having a schedule match: {{worker.preferences.scheduleMatchScore}}</div>
    <div>Importance of working close to home: {{worker.preferences.workCloseToHomeScore}}</div>
    <div>Importance of working environment: {{worker.preferences.workEnvironmentScore}}</div>
  </div>

</div>