<div class="container">

      <div class="well hero-spacer">
        <h3>Your Caregiver Profile, Continued</h3>
      </div>

      <div class="row">
        <form role="form">

        <div class="well">
          <div class="form-group">
            <label for="exampleInputEmail1">Your Hourly Rate, Homecare and Hospital Jobs</label>
            <input class="form-control" id="InputName" placeholder="Hourly Rate"></input>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Your Hourly Rate, Live-in Homecare Jobs</label>
            <input class="form-control" id="InputName" placeholder="Hourly Rate"></input>
          </div>
        </div>

        <div class="well">
          <h4 class="pull-left">Select the job opportunities that you are qualifed and would like to be considered for</h4>
              <div class="clearfix"></div>
                <div class="checkbox-columns">
                    <label class="checkbox span2">
                        <input type="checkbox" value="option1"> Caregiver/Homemaker
                    </label>
                    <label class="checkbox span2">
                        <input type="checkbox" value="option2"> CHHA (Home Health Aide)
                    </label>
                    <label class="checkbox span2">
                        <input type="checkbox" value="option3"> STNA
                    </label>
                    <label class="checkbox span2">
                        <input type="checkbox" value="option3"> PCA
                    </label>
                    <label class="checkbox span2">
                        <input type="checkbox" value="option3"> PCA
                    </label>
                    <label class="checkbox span2">
                        <input type="checkbox" value="option3"> LPN
                    </label>
                    <label class="checkbox span2">
                        <input type="checkbox" value="option3"> CNA
                    </label>
                </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Which type of position are you interested in?</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="checkbox span2">
                          <input type="checkbox" value="option1"> Full-Time
                      </label>
                      <label class="checkbox span2">
                          <input type="checkbox" value="option2"> Part-Time
                      </label>
                  </div>
            </div>
          </div>
        </div>

          <div class="well">
            <h4 class="pull-left">Which shift are you interested in?  Check all that apply.</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="checkbox span2">
                          <input type="checkbox" value="option1"> Day Shift
                      </label>
                      <label class="checkbox span2">
                          <input type="checkbox" value="option2"> Night Shift
                      </label>
                  </div>
            </div>
          </div>



          <div class="well">
            <h4 class="pull-left">Are you interested in working weekdays or weekends?  Select all that apply.</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="checkbox span2">
                          <input type="checkbox" value="option1"> Full-Time
                      </label>
                      <label class="checkbox span2">
                          <input type="checkbox" value="option2"> Part-Time
                      </label>
                  </div>
            </div>
          </div>

          <div class="well">
            <h4 class="pull-left">Are you intrested in Live-In job opportunities?</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="radio span2">
                          <input type="radio" value="option1"> Yes
                      </label>
                      <label class="radio span2">
                          <input type="radio" value="option2"> No
                      </label>
                  </div>
            </div>
          </div>

          <div class="well">
            <h4 class="pull-left">How many miles are you willing to travel for work?</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="radio span2">
                          <input type="radio" value="option1"> Yes
                      </label>
                      <label class="radio span2">
                          <input type="radio" value="option2"> No
                      </label>
                  </div>
            </div>
          </div>

          <div class="well">
            <h4 class="pull-left">Some clients require a caregiver that can provide transportation to/from appointments.  Can you legally drive a client in your own car?</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="radio span2">
                          <input type="radio" value="option1"> Yes
                      </label>
                      <label class="radio span2">
                          <input type="radio" value="option2"> No
                      </label>
                  </div>
            </div>
          </div>


        <a href="#/worker-registration4"><button type="submit" class="btn btn-default">Next...</button></a>
        </form>
      </div>
      
      
      <hr>