<div class="container" ng-controller='wLoginCtrl'>

    <div>
      <div class="well hero-spacer">
        <h3>Please Login</h3>
      </div>
      <div class="row">
        <form role="form">
          <div class="form-group">
            <label>Email</label>
            <input ng-model="email" class="form-control" id="InputName" placeholder="Enter your email">
          </div>

          <div class="form-group control-group">
            <label>Password</label>
            <input type="password" ng-model="password" class="form-control" id="InputEmail" placeholder="Enter your password" >
          </div>

          <a ng-click="submit()"><button ngtype="submit" class="btn btn-default">Login...</button></a>
        </form>
      </div>
    </div>