

      <div class="well hero-spacer">
        <h3>Your Caregiver Profile</h3>
      </div>

      <div class="row">
        <form role="form">

        <div class="well">
          <div class="form-group">
            <label for="exampleInputEmail1">Your Hourly Rate, Homecare and Hospital Jobs</label>
            <select ng-model="hourlyRate">
              <option>$8.00-$10.00</option>
              <option>$10.00-$12.00</option>
              <option>$12.00-$14.00</option>
              <option>$14.00-$16.00</option>
              <option>$18.00-$20.00</option>
              <option>$20.00-$22.00</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Your Daily Rate, Live-in Homecare Jobs</label>
            <select ng-model="dailyRate">
              <option>$60.00-$80.00</option>
              <option>$80.00-$100.00</option>
              <option>$120.00-$140.00</option>
              <option>$140.00-$160.00</option>
            </select>
          </div>
        </div>

        <div class="well">
          <h4 class="pull-left">Select the job opportunities that you are qualifed and would like to be considered for</h4>
              <div class="clearfix"></div>
                <div class="checkbox-columns">
                    <label class="checkbox span1">
                        <input ng-model="caregiver" type="checkbox" value="option1"> Caregiver/Homemaker
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="CHHA" type="checkbox" value="option2"> CHHA (Home Health Aide)
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="STNA" type="checkbox" value="option3"> STNA
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="PCA" type="checkbox" value="option3"> PCA
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="LPN" type="checkbox" value="option3"> LPN
                    </label>
                    <label class="checkbox span2">
                        <input ng-model="CNA" type="checkbox" value="option3"> CNA
                    </label>
                </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Which type of position are you interested in?</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="checkbox span2">
                          <input ng-model="fullTime" type="checkbox" value="option1"> Full-Time
                      </label>
                      <label class="checkbox span2">
                          <input type="checkbox" ng-model="partTime" value="option2"> Part-Time
                      </label>
                  </div>
            </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Which shift are you interested in?  Check all that apply.</h4>
            <div class="clearfix"></div>
              <div class="checkbox-columns">
                  <label class="checkbox span2">
                      <input type="checkbox" ng-model="dayShift" value="option1"> Day Shift
                  </label>
                  <label class="checkbox span2">
                      <input type="checkbox" ng-model="nightShift" value="option2"> Night Shift
                  </label>
              </div>
            </div>
          </div>
        </div>


        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Are you interested in working weekdays or weekends?  Select all that apply.</h4>
                <div class="clearfix"></div>
                  <div class="checkbox-columns">
                      <label class="checkbox span2">
                          <input type="checkbox" ng-model="weekDays" value="option1"> Weekdays
                      </label>
                      <label class="checkbox span2">
                          <input type="checkbox" ng-model="weekEnds" value="option2"> Weekends
                      </label>
                  </div>
            </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Which of the following are you interested in?</h4>
              <div class="clearfix"></div>
                <div class="checkbox-columns">
                  <label class="checkbox span2">
                    <input type="checkbox" ng-model="homeCare" value="option1"> Home Care
                  </label>
                  <label class="checkbox span2">
                    <input type="checkbox" ng-model="facilityCare" value="option2"> Facility
                  </label>
                </div>
              </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">How many miles are you willing to travel for work?</h4>
              <div class="clearfix"></div>
              <select ng-model="range">
                <option>up to 5 miles</option>
                <option>up to 10 miles</option>
                <option>up to 20 miles</option>
                <option>up to 30 miles</option>
                <option>up to 50 miles</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row"> 
          <div class="well">
            <h4 class="pull-left">Some clients require a caregiver that can provide transportation to/from appointments.  Can you legally drive a client in your own car?</h4>
              <div class="clearfix"></div>
              <select ng-model="carAvailable">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
        </div>

        <a ng-click="processFormData()"><button class="btn btn-default">Next...</button></a>
        </form>
      </div>